@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

* {
  root:;
  font-family: 'Red Hat Mono', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}


main {
  display: grid;
  grid-template-rows:  100px 500px 700px 700px 700px 1000px 900px 700px 900px 50px;
  height: 100vh;
}

/* h1 */

.animate__animated animate__bounce {
  font-size: 5rem;
  animation: ;
  animation-duration: 2s;
}

/* musen */

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
}

.link-grow {
  transform: scale(2);
  background: black;
}

.hovered-link {
  color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  width:90%;
  min-height: 10vh;
  align-items: center;
  margin: auto;
  position: sticky;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links li {
  padding: 1rem;
}

.nav-links, h1 {
  flex: 1;
}

.Logo {
  width: 20vh;
  z-index: -2;
  position: relative;
  right: 8vh;
}

/* farver på de tre grid bokse for at holde styr på. hvad jeg laver */

.box1 {
background:;
z-index: -2;
}

.box2 {
  background: ;
  z-index: -2;
}

.box3 {
  background:;
  z-index: -2;
}

.box4 {
  background: ;
  z-index: -2;
}

.box5 {
  background: ;
  z-index: -2;
}

.box6 {
  z-index: -2;
  display: flex;
  flex-direction: column;
}

.artikel {
  position: relative;
  z-index: -2;
}

.box7 {
  position: relative;
  top: 900px;
  z-index: ;
}

/* grid section */


.box1 {
  grid-row: ;
  background: #e6e4df;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


/* Flexbox og styling af elementerne i grid */

.citat {
  display: flex;
  position: relative;
  left: 35%;
  top: 100px;
  margin-top: 100px;
}

.parent {
  height: 600px;
  width: 1280px;
  display: flex;
  flex-direction: ;
  justify-content: center;
  align-items: stretch;
}

.child1 {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 900px;
  position: relative;
  left: 200px;
}

.child2 {
  width: 400px;
  position: relative;
  left: 200px;
  top: 200px;

}

/* styling af tal og skrift */

.tal {
  font-family: OSWALD;
  font-size: 35rem;
}

#rotate {
  transform: rotate(90deg);
}

.tekst {
  font-size: 1.5rem;
}


/* section 3 */

.parent2 {
  height: 700px;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child3 {
  font-size: 1.5rem;
  width: 350px;
  height: 600px;
  position: relative;
  right: 200px;
}

.child4 {
  width: 410px;
  height: 700px;
  position: relative;
  bottom: 250px;
  left: 50px;
}


/* section 4 */

.parent3 {
  width: 1280px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child5 {
  font-size: 1.5rem;
  width: 350px;
  height: 600px;
  position: relative;
  bottom: 140px;
  right: 200px;
}

.child6 {
  width: 410px;
  height: 900px;
  position: relative;
  bottom: 250px;
  right: 150px;
}


/* section 5 */

.parent4 {
  width: 800px;

}

.child7 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background-color: ;
  position: relative;
  left: 300px;
  bottom: 100px
}

.st {
  font-size: 2rem;
  color: #238a9e;
  display:flex;
  justify-content: center;
  position: relative;
  bottom: 50px;
  left: 225px;
}

.parent5 {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 600px;
}

.child8 {
  height: 600px;
  width: 800px;
}

#mand{
  transform: rotate(90deg);
  position: relative;
  bottom: 300px;
  left: 110px;

}

.child10 {
  background: ;
  width: 700px;
  height: 750px;
  position: relative;
  right: 175px;
}

#teaser {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  position: relative;
  top: 200px;
}


.year {
  width: 100px;
  height: 40px;
  font-size: 2rem;
  transform: rotate(90deg);
  position: relative;
  left: 100px;
  top: 50px;
  background: #e6e4df;
}

.name{
  width: 500px;
  transform: rotate(90deg);
  position: relative;
  top: 325px;
  left: -99px;
  font-size: 3.5rem;
}

/* section 6 */

#play {
  transform: rotate(90deg);
  font-size: 30rem;
  position: relative;
  top: 700px;
  right: 200px;
}

.child12 {
  background: #238a9e;
  width: 500px;
  height: 250px;
  position: relative;
  left: 1000px;
  top: 300px;
  z-index: -2;
}

#citat2 {
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 80px;
}


.picture {
  position: relative;
  left: 800px;
  bottom: 194px;
}

.video {
  width: 600px;
  height: 700px;
  position: relative;
  bottom: 600px;
  left: 1100px;
}

.artikel_text {
  width: 800px;
  height: 750px;
  background: #238a9e;
  font-size: 1rem;
  position: relative;
  left: 200px;
  top: 600px;
}

#leder {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

/* Footer CSS */
.box7 {
  background-color: #e6e4df;
  z-index: -2;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 370px;
  right: 400px;
}

.footer__links {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
  width: 600px;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  color: #000000;
}

.footer__link--items a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
}

.footer__link--items a:hover {
  color: #fff;
  transition: 0.3 ease-out;
}

.social__icon--link {
  color: #000000;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
  height: 200px;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website__rights {
  color: #000000;

}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
